.button-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    button.module-button {
        width: 200px;
        height: 180px;
        outline: none;
        border: none;
        border-radius: 8px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms;

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        span {
            margin-top: 15px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: rgba(0,0,0,0.8);
        }
    }
}

$base-offset: 70px;
$container-size: calc(100% - (#{$base-offset} * 2));

.folder {
    visibility: hidden;

    .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 9;
    }

    .container {
        transition: all .9s;
        position: absolute;
        top: $base-offset;
        left: $base-offset;
        right: $base-offset;
        bottom: $base-offset;
        width: $container-size;
        height: $container-size;
        z-index: 99;
        border-radius: 18px;
        background: #FFF;
        clip-path: circle(0%);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .menu-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
        }

        .header-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 30px 40px 0px;
            opacity: 0.69;

            button {
                border: none;
                border-radius: 50%;
                padding: 0px;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFF;
                transition: all 300ms;

                &:hover {
                    background: rgba(0,0,0,0.05);
                }
            }

            h4 {
                margin: 0px;
                margin-left: 20px;
                font-family: "Open Sans", sans-serif;
                font-size: 18px;
            }
        }
    }

    &.open {
        visibility: visible;

        .container {
            clip-path: circle(100%);
        }
    }
}

.slider {
    height: 100% !important;
}
